#developer {
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
  color: #ff7a59;
  letter-spacing: 7px;
  cursor: pointer;
  font-size: 50px;
  padding-bottom:1%;
 }
 #developer {
 
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
 
  /* Apply animation to this element */	
  animation: developer 5s ease-out;
 }
 /* Move it (define the animation) */
 @keyframes developer {
  0%   { 
  transform: translateX(200%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }