/* #skills{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: rgba(242, 239, 239, 0.978);
    background-color: rgba(0, 0, 0, 0.874);
  }
  #skillsimg{
    width: 50%;
    border: rgb(244, 241, 241) solid 8px;
  }
   */