@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Open+Sans&display=swap');

#root {
    margin: 0 auto;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    padding-top: env(safe-area-inset-top);

  }
  #home-container{
    background-image: url(assets/images/realmountain.jpg);
    background-repeat: no-repeat;
  }
  
  #mountain{
    background-image: -webkit-image-set();
    background: center;
    background-size: cover;
  }

  /************ NAV BAR ************* */

  #navbar{
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-right: 3em;
  }
  #links{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(25, 25, 29, 0.772);
    padding: 1.5em;
    text-decoration: none;
    color: white;
    gap: 1em;
  }
  #Home:hover{
    color: #ff7a59;
    cursor: pointer;
  }
  #Home:active, #About:active{
    color: #ff7a59;
  }
  #About:hover{
    color: #ff7a59;
    cursor: pointer;
  }
  #Skills:hover{
    color: #ff7a59;
    cursor: pointer;
  }
  #Portfolio:hover, #Contact:hover{
    color: #ff7a59;
    cursor: pointer;
  }
 
/* *************** HOME ************** */

  #home{
    position: center;
   text-align: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-sizing: border-box;
    max-width: 70%;
    max-height: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.129);
    margin-top: 5em;
    margin-bottom:1em;
    color: rgb(220, 218, 218);
    border-radius: 20px;
    padding-top: .25px;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
  }
  #myname{
    font-size: 60px;
    font-weight: 1000;
  }
  
  #developer{
    font-weight: bold;
    font-family: monospace;
    color: #ff7a59;
    letter-spacing: 7px;
    cursor: pointer;
    font-size: 45px;
    padding-bottom:1%;
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
   }
  
   @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  #textone{
    font-size: 20px;
  }
  #textwo{
    font-size: 20px;
  }
  #resume-button{
    border-radius: 9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    --tw-border-opacity: 1;
    border-color: rgba(249,115,22,var(--tw-border-opacity));
    color: whitesmoke;
    font-size: 1rem;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-top: 1.5em;
    margin-right: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  #resume-button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background: transparent;
    cursor: pointer;
  }
  #contact-button {
    border-radius: 9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    --tw-border-opacity: 1;
    border-color: rgba(249,115,22,var(--tw-border-opacity));
    color: whitesmoke;
    font-size: 1rem;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-top: 1.5em;
    margin-right: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  #contact-button:hover{
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: transparent;
  cursor: pointer;
 }
.circle-arrow{
  margin-bottom: 2em;
  margin-top: .5em;
  color: rgba(245, 245, 245, 0.822);
}
.circle-arrow:hover{
  cursor: pointer;
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}


/* ************* ABOUT ************** */

#about{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5em;
 justify-content: center;
 padding-left: 20%;
 padding-right: 25;
}
#me{
  height: 300px;
  margin-top: 3em;
  margin-right: 1em;
  border-radius: 50%;
  border: white solid 4px;
  }
#aboutmelist{
  list-style: none;
  
}
#me-one{
  text-align: left;
  margin: 2em;
  width: 60%;
}
#me-middle{
  text-align: left;
  margin: 2em;
  width: 60%;
}
#title-me{
  text-align: center;
  margin-bottom: 1em;
  font-size: 30px;
}
#me-two{
  text-align: left;
  margin: 2em;
  width: 60%;
}
#doctor{
 font-style: italic;
 color:#ff7a59
}
#softwaredev{
font-style: italic;
color:#ff7a59
}
#javascript{
  font-style: italic;
  color:#ff7a59
}


/* ******************* SOCIAL FOLLOW ****************** */

#social-links{
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}
.google-social{
  border-radius: 50% ;
}
.google-social:hover{
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}
.linkedIn-social:hover{
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}
.facebook-social:hover{
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}
.instagram-social:hover{
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}
.github-social:hover{
  transform:  scale(1.5);
  color:rgb(220, 218, 218);
}

/* *************** SKILLS ************* */
#skills-one{
  background-color: black;
  padding: 1%;
}
#skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: rgba(242, 239, 239, 0.978);
  background-color: black;
}
#skills-header{
  color: white;
  margin-bottom: 0;
}
.skills-table{
  display: flex;
  flex-direction: column;
  /* border: solid white 1pt; */
  width: 15%;
  padding-top: 2%;
  padding-bottom: 1%;
  /* padding: 2%; */
}
.skills-table p{
  color: white;
}
#expressJs{
  color: white;
}
#icon{
  background-color: white;
  padding: .5%;
}

@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

.skills-table {
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                      linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                      linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                      linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: running;
}






/* ***************** Portfolio ***************** */

.allPorts{
  background-color: rgba(0, 0, 0, 0.874);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10em;
  padding-bottom: 10em;
  padding-top: 14em;
  gap: 4em;
}
#creative-juiceslink{
  position:relative;
}
#paint{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.textone{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#creative-juiceslink:hover #paint{
  opacity: 0.3;
  cursor: pointer;
}
#creative-juiceslink:hover .textone{
  opacity: 1;
  cursor: pointer;
}
#text-creative{
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#pelvic-link{
  position:relative;
}
#women{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.textwo{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#pelvic-link:hover #women{
  opacity: 0.3;
  cursor: pointer;
}
#pelvic-link:hover .textwo{
  opacity: 1;
  cursor: pointer;
}
#text-pelvic{
  background-color:#04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#fitness-link{
  position:relative;
}
#stretch{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.textthree{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#fitness-link:hover #stretch{
  opacity: 0.3;
  cursor: pointer;
}
#fitness-link:hover .textthree{
  opacity: 1;
  cursor: pointer;
}
#text-fitness{
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  color: whitesmoke;
}
#port-intro{
  position: absolute;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 5em;
 
   margin-left: 41%;
  color: whitesmoke;
   font-size: 30px;
 }
 #portp{
   color: white;
 }
 #girlsbikelink{
   position:relative;
 }
 #girlsbike{
   opacity: 1;
   display: block;
   width: 200px;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
 }
 .textfour{
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }
 #girlsbikelink:hover #girlsbike{
   opacity: 0.3;
   cursor: pointer;
 }
 #girlsbikelink:hover .textfour{
   opacity: 1;
   cursor: pointer;
 }
 #text-girlsbike{
   background-color:#04AA6D;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
 }

/* 
************* CONTACT ***************** */

#contactpage{
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 8em;
}
.emailform{
  display: flex;
  flex-direction: column;
 
  gap: 1em;
  padding: 1em;
}
#contact-other{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contacticons{
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#emailname, #emailuser, #emailmessage{
  border-radius: 10px;
  padding: .5em;
}
#emailbutt{
  border-radius: 9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    --tw-border-opacity: 1;
    border-color: rgba(249,115,22,var(--tw-border-opacity));
    color: whitesmoke;
    font-size: 1rem;
    padding: .5em;
    text-transform: uppercase;
    font-weight: bold;
  }
  #emailbutt:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background: transparent;
    cursor: pointer;
  }
  .contact-linkin{
    color: white;
    text-decoration: none;
  }
  .contact-linkin:hover{
    color: #ff7a59;
  }
  .location-contact{
    color: white;
    text-decoration: none;
  }
  .location-contact:hover{
    color: #ff7a59;
  }
  #photoby{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-size: 10px;
  }
  #attribute{
    color: orange;
    font-size: 10px;
  }

  /* **************** Testimonials ************* */

  #testimonial-container{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  #quote{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 25%;
    color: white;
    text-align: center;
    padding: 2em;
   font-size: 20px;
   font-weight: 400;

}
#quote-box{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
    padding-top: 8em;
}

  @media (min-width: 320px) and (max-width: 880px){
    body {
      border: none;
      margin: 0%;
    }
    #mountain {
    background-image: url(assets/images/realmountain-mobile.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    }
    #navbar {
      position: unset;
    }

    /* ************ media home ************ */

    #home{
      max-width: 80%;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 9%;
      color: whitesmoke;
    }
    #myname{
      font-size: 35px;
    }
    #developer{
      font-size: 25px;
    }
    #textone{
      font-size: 15px;
    }
    #textwo{
      font-size: 15px;
    }
    #social-links{
      margin-top: 8%;
    }
    .google-social{
      color: whitesmoke;
    }
    .linkedIn-social{
      color: whitesmoke;
    }
    .facebook-social{
      color: whitesmoke;
    }
    .instagram-social{
      color: whitesmoke;
    }
    .github-social{
      color: whitesmoke;
    }
    #contact-button{
      margin-top: 3%;
    }
    .circle-arrow{
      margin-bottom: 8%;
    }

    /* ********** media about ************ */

    #about{
      flex-direction: column;
      padding: 3%;
      padding-left: 4%;
      padding-right: 4%;
    }
    #me{
      border-radius: 0%;
      margin-top: 3%;
      margin-right: 0;
    }
    #title-me{
      text-align: left;
      font-size: 30px;
    }
    #me-one{
      width:80%;
    }
    #me-middle{
      width: 80%;
    }
    #me-two{
      width: 80%;
    }
    #aboutmelist{
      padding-left: 0;
      padding-top: 2%;
    }

    /************ media skills *********** */

    #skills{
      gap: 30px;
      
    }
    .skills-table{
      border: solid white .5pt;
     width: 25%;
     padding: 2%;
     padding-top: 5%;
     padding-bottom: 1.5%;
    }

  }





  
  